body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "NHaasGroteskDSPro-65Md" !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#carousel {
  max-height: 500px;
}

.navbar {
  background-color: #f77400de;
}
.main {
  background: rgb(255, 245, 234);
}
.car {
  background: #ffc925;
}
.footer {
  background-color: #f77400de;
  height: 60px;
  justify-content: center;
}
